.card-img-top {
    border-radius: 50%;
    margin: auto;
    display: block;
    width: 100px;
    height: 100px;
    padding-top: 5px;
}

header {
    background: linear-gradient(to bottom, #1c558f, #1c1f22);
    color: white; 
    background-attachment: fixed;
}

nav {
    background-color: #1c558f !important;
}

#pourquoi-choisir, footer {
    background: linear-gradient(to bottom, #1c558f, #1c1f22);
    color: white; 
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.img-fluid {
    transition: transform 0.3s;
    border-radius: 10px;
}

#partenaires p {
    font-size: 20px;
    margin-top: 6px;
}

#partenaires .img-fluid:hover {
    transform: rotate(6deg);
}

.card:hover {
    transform: scale(1.05);
}